doctype html
html
  include head
  body(style="padding-top: 70px;")
    div.navbar.navbar-default.navbar-fixed-top(role="navigation")
      div.container
        div.navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Dashboard.io
    div#container         
      .row
        .col-sm-4
        .col-sm-4
          div.panel.panel-primary
            div.panel-heading
              span Sensor #1
            div.panel-body
              label#sensorValue
        .col-sm-4
      
script.
  //$(document).ready(() => {
    socket.on('connect', () => {  
    
      socket.on('serialOpen', () => {
        console.log('Serial opened')
      })

      socket.on('serialClose', () => {
        console.log('Serial closed')
      })

      socket.on('serialError', (err) => {
        console.log('Serial error:'.err)
      })

      socket.on('serialDisconnect', () => {
        console.log('Serial disconnected')
      })
      
      socket.on('serialData', (err, data) => {
        if (err) console.log('Erro:',err)
        else {
          console.log('Serial Data:', data)
          $('#sensorValue').text(data)
        }
      })
  
  })
