body {
	background-color: 	#000;
	font-family: 		Sans-serif;
	color: 				#FFF;
}

.clock {
	font-size:			100px;
    position:			absolute;
    top:				10px;
    right: 				10px;
}

li {
	font-size: 			px;
}

.clock-time {
  font-family: "Lucida Console", Monaco, monospace;
  font-size:			100px;  
}